@import "./reset.scss";
@import "./loading.scss";

@font-face {
  font-family: "Heebo-Bold";
  src: url("../fonts/static/Heebo-Bold.ttf") format("woff");
}
@font-face {
  font-family: "Heebo-Regular";
  src: url("../fonts/static/Heebo-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Heebo-Light";
  src: url("../fonts/static/Heebo-Light.ttf") format("woff");
}
@font-face {
  font-family: "Heebo-ExtraLight";
  src: url("../fonts/static/Heebo-ExtraLight.ttf") format("woff");
}
@font-face {
  font-family: "Heebo-Thin";
  src: url("../fonts/static/Heebo-Thin.ttf") format("woff");
}

// Variables
$black-color: #333333;
$bg-color: #f0f0f0;
$loading-circle: 10rem;
$-webkit-box-shadow: 0.125rem 0.313rem 0.625rem 0px rgba(0, 0, 0, 0.3);
$box-shadow: 0.125rem 0.313rem 0.625rem 0px rgba(0, 0, 0, 0.3);
$-webkit-box-shadow-inset: inset 0.125rem 0.313rem 0.625rem 0px rgba(0, 0, 0, 0.3);
$box-shadow-inset: inset 0.125rem 0.313rem 0.625rem 0px rgba(0, 0, 0, 0.3);

:root {
  font-size: 16px;
  color: $black-color;
}

#weather-app > div {
  border: 1px solid red;
}

// Title Main
@mixin main-title {
  font-family: "Heebo-Thin";
  font-size: 4.6rem;
  letter-spacing: -0.15rem;
  color: $black-color;
}

// Description Small
@mixin small-desc {
  font-family: "Heebo-Light";
  color: $black-color;
  font-size: 1.4rem;
  letter-spacing: -0.03rem;
}

// Description Mid
@mixin mid-desc {
  font-family: "Heebo-ExtraLight";
  color: $black-color;
  font-size: 2.5rem;
  letter-spacing: -0.06rem;
}

// Weather Title
@mixin temp-title {
  font-family: "Heebo-Bold";
  // font-size: 9rem;
  font-size: 8rem;
  color: $black-color;
  line-height: 84%;
}

// Degree Symbol
.deg-symbol {
  position: relative;
  display: inline-flex;
  justify-content: center;
  .minus {
    position: absolute;
  }
}

// Loading Bar
.desc-2 li {
  font-family: "Heebo-Regular";
  color: $black-color;
  font-size: 3rem;
  letter-spacing: -0.06rem;
}

// Styling
.current {
  text-align: center;

  .location {
    @include main-title;
    margin-bottom: 0.4rem;
  }
  .date,
  .time,
  .desc-1 li {
    @include small-desc;
  }
  .temp {
    @include temp-title;
  }
  .desc {
    @include mid-desc;
    margin-bottom: 0.8rem;
  }
  .temp-img img {
    height: auto;
    width: auto;
    max-width: 19.125rem;
    max-height: 13.625rem;
  }
}

// Layout styling
#weather-app {
  width: 100%;
  max-width: 1388px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  // align-content: center;
  padding: 3.75rem 6.875rem;
  background-color: $bg-color;

  .title-search {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .input-wrap {
      align-self: center;
      justify-self: right;
    }

    h1 {
      align-self: center;
      justify-self: left;
    }
  }

  .current,
  .forecast {
    display: grid;
    // justify-items: center;
    // align-items: center;
  }

  .current {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, max-content);

    .intro {
      grid-area: 1/1/2/5;
      margin-bottom: 3.2rem;
    }
    .temp-wrap {
      grid-area: 2/1/3/3;
      margin-right: 1.25rem;
      width: max-content;
      align-self: start;
      justify-self: end;
    }
    .temp-img {
      grid-area: 2/3/3/5;
      margin-left: 1.25rem;
      display: flex;
      justify-content: flex-start;
    }
    .desc-1 {
      grid-area: 3/1/4/5;
    }
    .desc-2 {
      grid-area: 4/1/5/5;
    }

    .desc-1,
    .desc-2 {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      justify-content: center;
      gap: 2.5rem;
      margin: 1.875rem 0;
    }
    .desc-2 {
      gap: 6.563rem;
    }
  }

  .forecast {
    ul {
      display: grid;
      grid-template-columns: repeat(5, auto);
      width: 100%;

      li {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: repeat(3, auto);
      }
    }
  }
}

// Loading Circle
.progress-item {
  display: flex;
  width: $loading-circle;
  height: $loading-circle;
  border-radius: 50%;
  font-size: 0;
  animation: 0.4s ease-out reverse;
  -webkit-box-shadow: $-webkit-box-shadow;
  box-shadow: $box-shadow;
}

.progress-item::after {
  content: attr(data-value);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: $loading-circle;
  margin: 1rem;
  line-height: 1;
  padding-top: 0.25rem;
  border-radius: 50%;
  background: white;
  font-size: 2.5rem;
  text-align: center;
  -webkit-box-shadow: $-webkit-box-shadow-inset;
  box-shadow: $box-shadow-inset;
}

// Testing
#weather-app .title-search {
  // display: none;
}
